<% provide(:title, @attendee.email) %>
  <p id = "notice"><%= notice %></p>

<p>
  <strong> Email: </strong>
  <%= @attendee.email %>
</p>

<p>
  <strong> Check in Time: </strong>
  <%= @attendee.created_at %>
</p>

<p>
  <strong> Event ID: </strong>
  <%= @attendee.event_id %>
</p>

<%= link_to 'Back', root_path %>
