<% provide(:title, @event.name) %>
  <p id = "notice"><%= notice %></p>

<p>
  <strong> Name: </strong>
  <%= @event.name %>
</p>

<p>
  <strong> Start Time: </strong>
  <%= @event.start_time %>
</p>

<p>
  <strong> End Time: </strong>
  <%= @event.end_time %>
</p>

<% if @event.attendees.any? %>
  <h3> Attendees (<%= @event.attendees.count %>)</h3>
  <ol class = "attendees" >
    <%= render @attendees %>
  </ol>
<% end %>

<%= link_to 'Back', root_path %>
